doctype html
html
    head
        title Flash app
        link(rel='stylesheet', href='/static/css/style.css')
    body
        include include/header
        block content
        include include/footer