doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(href='static/css/list.css', rel='stylesheet')
h3 Songs on The Beatles - Sgt. Pepper&apos;s Lonely Hearts Club Band (1967)
div
    input(type='text')
    button(type='submit') Add Song
    ul
        li Sgt. Peppers Lonely Hearts Club Band
        li With a Little Help from My Friends
        li Lucy in the Sky with Diamonds
        li Getting Better
        li Fixing a Hole
        li Shes Leaving Home
        li Being for the Benefit of Mr. Kite!
        li Within You Without You
        li When Im Sixty-Four
        li Lovely Rita
        li Good Morning Good Morning
        li Sgt. Peppers Lonely Hearts Club Band (Reprise)
        li A Day in the Life
